openapi: 3.0.1
info:
  contact:
    email: support@commercelayer.io
    name: API Support
    url: https://commercelayer.io
  description: Headless Commerce for Global Brands.
  title: Commerce Layer API
  version: 2.9.4
servers:
- description: Sign in
  url: https://core.commercelayer.io/users/sign_in
- description: API reference
  url: https://docs.commercelayer.io/api
tags:
- description: singleton resource
  name: singleton
- description: resource type
  name: addresses
- description: relationship kind
  name: has_one
- description: resource type
  name: adjustments
- description: resource type
  name: adyen_gateways
- description: relationship kind
  name: has_many
- description: resource type
  name: adyen_payments
- description: resource type
  name: application
- description: resource type
  name: attachments
- description: resource type
  name: authorizations
- description: resource type
  name: avalara_accounts
- description: resource type
  name: billing_info_validation_rules
- description: resource type
  name: bing_geocoders
- description: resource type
  name: braintree_gateways
- description: resource type
  name: braintree_payments
- description: resource type
  name: bundles
- description: resource type
  name: captures
- description: resource type
  name: carrier_accounts
- description: resource type
  name: checkout_com_gateways
- description: resource type
  name: checkout_com_payments
- description: resource type
  name: coupon_codes_promotion_rules
- description: resource type
  name: coupon_recipients
- description: resource type
  name: coupons
- description: resource type
  name: customer_addresses
- description: resource type
  name: customer_groups
- description: resource type
  name: customer_password_resets
- description: resource type
  name: customer_payment_sources
- description: resource type
  name: customer_subscriptions
- description: resource type
  name: customers
- description: resource type
  name: delivery_lead_times
- description: resource type
  name: event_callbacks
- description: resource type
  name: external_gateways
- description: resource type
  name: external_payments
- description: resource type
  name: external_promotions
- description: resource type
  name: external_tax_calculators
- description: resource type
  name: fixed_amount_promotions
- description: resource type
  name: fixed_price_promotions
- description: resource type
  name: free_gift_promotions
- description: resource type
  name: free_shipping_promotions
- description: resource type
  name: geocoders
- description: resource type
  name: gift_card_recipients
- description: resource type
  name: gift_cards
- description: resource type
  name: google_geocoders
- description: resource type
  name: imports
- description: resource type
  name: in_stock_subscriptions
- description: resource type
  name: inventory_models
- description: resource type
  name: inventory_return_locations
- description: resource type
  name: inventory_stock_locations
- description: resource type
  name: klarna_gateways
- description: resource type
  name: klarna_payments
- description: resource type
  name: line_item_options
- description: resource type
  name: line_items
- description: resource type
  name: manual_gateways
- description: resource type
  name: manual_tax_calculators
- description: resource type
  name: markets
- description: resource type
  name: merchants
- description: resource type
  name: order_amount_promotion_rules
- description: resource type
  name: order_copies
- description: resource type
  name: order_subscriptions
- description: resource type
  name: order_validation_rules
- description: resource type
  name: orders
- description: resource type
  name: organization
- description: resource type
  name: packages
- description: resource type
  name: parcel_line_items
- description: resource type
  name: parcels
- description: resource type
  name: payment_gateways
- description: resource type
  name: payment_methods
- description: resource type
  name: paypal_gateways
- description: resource type
  name: paypal_payments
- description: resource type
  name: percentage_discount_promotions
- description: resource type
  name: price_lists
- description: resource type
  name: prices
- description: resource type
  name: promotion_rules
- description: resource type
  name: promotions
- description: resource type
  name: refunds
- description: resource type
  name: return_line_items
- description: resource type
  name: returns
- description: resource type
  name: shipments
- description: resource type
  name: shipping_categories
- description: resource type
  name: shipping_methods
- description: resource type
  name: shipping_zones
- description: resource type
  name: sku_list_items
- description: resource type
  name: sku_list_promotion_rules
- description: resource type
  name: sku_lists
- description: resource type
  name: sku_options
- description: resource type
  name: skus
- description: resource type
  name: stock_items
- description: resource type
  name: stock_line_items
- description: resource type
  name: stock_locations
- description: resource type
  name: stock_transfers
- description: resource type
  name: stripe_gateways
- description: resource type
  name: stripe_payments
- description: resource type
  name: tax_calculators
- description: resource type
  name: tax_categories
- description: resource type
  name: tax_rules
- description: resource type
  name: taxjar_accounts
- description: resource type
  name: transactions
- description: resource type
  name: voids
- description: resource type
  name: webhooks
- description: resource type
  name: wire_transfers
paths:
  /addresses:
    get:
      description: List all addresses
      operationId: GET/addresses
      responses:
        "200":
          description: A list of address objects
      summary: List all addresses
      tags:
      - addresses
    post:
      description: Create an address
      operationId: POST/addresses
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/addressCreate'
        required: true
      responses:
        "201":
          description: The created address object
      summary: Create an address
      tags:
      - addresses
  /addresses/{addressId}:
    delete:
      description: Delete an address
      operationId: DELETE/addresses/addressId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an address
      tags:
      - addresses
    get:
      description: Retrieve an address
      operationId: GET/addresses/addressId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/address'
          description: The address object
      summary: Retrieve an address
      tags:
      - addresses
    patch:
      description: Update an address
      operationId: PATCH/addresses/addressId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/addressUpdate'
        required: true
      responses:
        "200":
          description: The updated address object
      summary: Update an address
      tags:
      - addresses
  /addresses/{addressId}/geocoder:
    get:
      description: Retrieve the geocoder associated to the address
      operationId: GET/addressId/geocoder
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The geocoder associated to the address
      summary: Retrieve the geocoder associated to the address
      tags:
      - has_one
      - geocoders
  /adjustments:
    get:
      description: List all adjustments
      operationId: GET/adjustments
      responses:
        "200":
          description: A list of adjustment objects
      summary: List all adjustments
      tags:
      - adjustments
    post:
      description: Create an adjustment
      operationId: POST/adjustments
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/adjustmentCreate'
        required: true
      responses:
        "201":
          description: The created adjustment object
      summary: Create an adjustment
      tags:
      - adjustments
  /adjustments/{adjustmentId}:
    delete:
      description: Delete an adjustment
      operationId: DELETE/adjustments/adjustmentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adjustmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an adjustment
      tags:
      - adjustments
    get:
      description: Retrieve an adjustment
      operationId: GET/adjustments/adjustmentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adjustmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/adjustment'
          description: The adjustment object
      summary: Retrieve an adjustment
      tags:
      - adjustments
    patch:
      description: Update an adjustment
      operationId: PATCH/adjustments/adjustmentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adjustmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/adjustmentUpdate'
        required: true
      responses:
        "200":
          description: The updated adjustment object
      summary: Update an adjustment
      tags:
      - adjustments
  /adyen_gateways:
    get:
      description: List all adyen gateways
      operationId: GET/adyen_gateways
      responses:
        "200":
          description: A list of adyen gateway objects
      summary: List all adyen gateways
      tags:
      - adyen_gateways
    post:
      description: Create an adyen gateway
      operationId: POST/adyen_gateways
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/adyenGatewayCreate'
        required: true
      responses:
        "201":
          description: The created adyen gateway object
      summary: Create an adyen gateway
      tags:
      - adyen_gateways
  /adyen_gateways/{adyenGatewayId}:
    delete:
      description: Delete an adyen gateway
      operationId: DELETE/adyen_gateways/adyenGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an adyen gateway
      tags:
      - adyen_gateways
    get:
      description: Retrieve an adyen gateway
      operationId: GET/adyen_gateways/adyenGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/adyenGateway'
          description: The adyen gateway object
      summary: Retrieve an adyen gateway
      tags:
      - adyen_gateways
    patch:
      description: Update an adyen gateway
      operationId: PATCH/adyen_gateways/adyenGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenGatewayId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/adyenGatewayUpdate'
        required: true
      responses:
        "200":
          description: The updated adyen gateway object
      summary: Update an adyen gateway
      tags:
      - adyen_gateways
  /adyen_gateways/{adyenGatewayId}/payment_methods:
    get:
      description: Retrieve the payment methods associated to the adyen gateway
      operationId: GET/adyenGatewayId/payment_methods
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The payment_methods associated to the adyen gateway
      summary: Retrieve the payment methods associated to the adyen gateway
      tags:
      - has_many
      - payment_methods
  /adyen_gateways/{adyenGatewayId}/adyen_payments:
    get:
      description: Retrieve the adyen payments associated to the adyen gateway
      operationId: GET/adyenGatewayId/adyen_payments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The adyen_payments associated to the adyen gateway
      summary: Retrieve the adyen payments associated to the adyen gateway
      tags:
      - has_many
      - adyen_payments
  /adyen_payments:
    get:
      description: List all adyen payments
      operationId: GET/adyen_payments
      responses:
        "200":
          description: A list of adyen payment objects
      summary: List all adyen payments
      tags:
      - adyen_payments
    post:
      description: Create an adyen payment
      operationId: POST/adyen_payments
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/adyenPaymentCreate'
        required: true
      responses:
        "201":
          description: The created adyen payment object
      summary: Create an adyen payment
      tags:
      - adyen_payments
  /adyen_payments/{adyenPaymentId}:
    delete:
      description: Delete an adyen payment
      operationId: DELETE/adyen_payments/adyenPaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an adyen payment
      tags:
      - adyen_payments
    get:
      description: Retrieve an adyen payment
      operationId: GET/adyen_payments/adyenPaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/adyenPayment'
          description: The adyen payment object
      summary: Retrieve an adyen payment
      tags:
      - adyen_payments
    patch:
      description: Update an adyen payment
      operationId: PATCH/adyen_payments/adyenPaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenPaymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/adyenPaymentUpdate'
        required: true
      responses:
        "200":
          description: The updated adyen payment object
      summary: Update an adyen payment
      tags:
      - adyen_payments
  /adyen_payments/{adyenPaymentId}/order:
    get:
      description: Retrieve the order associated to the adyen payment
      operationId: GET/adyenPaymentId/order
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The order associated to the adyen payment
      summary: Retrieve the order associated to the adyen payment
      tags:
      - has_one
      - orders
  /adyen_payments/{adyenPaymentId}/payment_gateway:
    get:
      description: Retrieve the payment gateway associated to the adyen payment
      operationId: GET/adyenPaymentId/payment_gateway
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: adyenPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The payment_gateway associated to the adyen payment
      summary: Retrieve the payment gateway associated to the adyen payment
      tags:
      - has_one
      - payment_gateways
  /application:
    get:
      description: Retrieve the application
      operationId: GET/application/applicationId
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/application'
          description: The application object
      summary: Retrieve the application
      tags:
      - application
      - singleton
  /attachments:
    get:
      description: List all attachments
      operationId: GET/attachments
      responses:
        "200":
          description: A list of attachment objects
      summary: List all attachments
      tags:
      - attachments
    post:
      description: Create an attachment
      operationId: POST/attachments
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/attachmentCreate'
        required: true
      responses:
        "201":
          description: The created attachment object
      summary: Create an attachment
      tags:
      - attachments
  /attachments/{attachmentId}:
    delete:
      description: Delete an attachment
      operationId: DELETE/attachments/attachmentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an attachment
      tags:
      - attachments
    get:
      description: Retrieve an attachment
      operationId: GET/attachments/attachmentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/attachment'
          description: The attachment object
      summary: Retrieve an attachment
      tags:
      - attachments
    patch:
      description: Update an attachment
      operationId: PATCH/attachments/attachmentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/attachmentUpdate'
        required: true
      responses:
        "200":
          description: The updated attachment object
      summary: Update an attachment
      tags:
      - attachments
  /authorizations:
    get:
      description: List all authorizations
      operationId: GET/authorizations
      responses:
        "200":
          description: A list of authorization objects
      summary: List all authorizations
      tags:
      - authorizations
  /authorizations/{authorizationId}:
    get:
      description: Retrieve an authorization
      operationId: GET/authorizations/authorizationId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/authorization'
          description: The authorization object
      summary: Retrieve an authorization
      tags:
      - authorizations
    patch:
      description: Update an authorization
      operationId: PATCH/authorizations/authorizationId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/authorizationUpdate'
        required: true
      responses:
        "200":
          description: The updated authorization object
      summary: Update an authorization
      tags:
      - authorizations
  /authorizations/{authorizationId}/order:
    get:
      description: Retrieve the order associated to the authorization
      operationId: GET/authorizationId/order
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The order associated to the authorization
      summary: Retrieve the order associated to the authorization
      tags:
      - has_one
      - orders
  /authorizations/{authorizationId}/captures:
    get:
      description: Retrieve the captures associated to the authorization
      operationId: GET/authorizationId/captures
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The captures associated to the authorization
      summary: Retrieve the captures associated to the authorization
      tags:
      - has_many
      - captures
  /authorizations/{authorizationId}/voids:
    get:
      description: Retrieve the voids associated to the authorization
      operationId: GET/authorizationId/voids
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The voids associated to the authorization
      summary: Retrieve the voids associated to the authorization
      tags:
      - has_many
      - voids
  /avalara_accounts:
    get:
      description: List all avalara accounts
      operationId: GET/avalara_accounts
      responses:
        "200":
          description: A list of avalara account objects
      summary: List all avalara accounts
      tags:
      - avalara_accounts
    post:
      description: Create an avalara account
      operationId: POST/avalara_accounts
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/avalaraAccountCreate'
        required: true
      responses:
        "201":
          description: The created avalara account object
      summary: Create an avalara account
      tags:
      - avalara_accounts
  /avalara_accounts/{avalaraAccountId}:
    delete:
      description: Delete an avalara account
      operationId: DELETE/avalara_accounts/avalaraAccountId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: avalaraAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete an avalara account
      tags:
      - avalara_accounts
    get:
      description: Retrieve an avalara account
      operationId: GET/avalara_accounts/avalaraAccountId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: avalaraAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/avalaraAccount'
          description: The avalara account object
      summary: Retrieve an avalara account
      tags:
      - avalara_accounts
    patch:
      description: Update an avalara account
      operationId: PATCH/avalara_accounts/avalaraAccountId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: avalaraAccountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/avalaraAccountUpdate'
        required: true
      responses:
        "200":
          description: The updated avalara account object
      summary: Update an avalara account
      tags:
      - avalara_accounts
  /avalara_accounts/{avalaraAccountId}/tax_categories:
    get:
      description: Retrieve the tax categories associated to the avalara account
      operationId: GET/avalaraAccountId/tax_categories
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: avalaraAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The tax_categories associated to the avalara account
      summary: Retrieve the tax categories associated to the avalara account
      tags:
      - has_many
      - tax_categories
  /avalara_accounts/{avalaraAccountId}/markets:
    get:
      description: Retrieve the markets associated to the avalara account
      operationId: GET/avalaraAccountId/markets
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: avalaraAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The markets associated to the avalara account
      summary: Retrieve the markets associated to the avalara account
      tags:
      - has_many
      - markets
  /avalara_accounts/{avalaraAccountId}/attachments:
    get:
      description: Retrieve the attachments associated to the avalara account
      operationId: GET/avalaraAccountId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: avalaraAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the avalara account
      summary: Retrieve the attachments associated to the avalara account
      tags:
      - has_many
      - attachments
  /billing_info_validation_rules:
    get:
      description: List all billing info validation rules
      operationId: GET/billing_info_validation_rules
      responses:
        "200":
          description: A list of billing info validation rule objects
      summary: List all billing info validation rules
      tags:
      - billing_info_validation_rules
    post:
      description: Create a billing info validation rule
      operationId: POST/billing_info_validation_rules
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/billingInfoValidationRuleCreate'
        required: true
      responses:
        "201":
          description: The created billing info validation rule object
      summary: Create a billing info validation rule
      tags:
      - billing_info_validation_rules
  /billing_info_validation_rules/{billingInfoValidationRuleId}:
    delete:
      description: Delete a billing info validation rule
      operationId: DELETE/billing_info_validation_rules/billingInfoValidationRuleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: billingInfoValidationRuleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a billing info validation rule
      tags:
      - billing_info_validation_rules
    get:
      description: Retrieve a billing info validation rule
      operationId: GET/billing_info_validation_rules/billingInfoValidationRuleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: billingInfoValidationRuleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/billingInfoValidationRule'
          description: The billing info validation rule object
      summary: Retrieve a billing info validation rule
      tags:
      - billing_info_validation_rules
    patch:
      description: Update a billing info validation rule
      operationId: PATCH/billing_info_validation_rules/billingInfoValidationRuleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: billingInfoValidationRuleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/billingInfoValidationRuleUpdate'
        required: true
      responses:
        "200":
          description: The updated billing info validation rule object
      summary: Update a billing info validation rule
      tags:
      - billing_info_validation_rules
  /billing_info_validation_rules/{billingInfoValidationRuleId}/market:
    get:
      description: Retrieve the market associated to the billing info validation rule
      operationId: GET/billingInfoValidationRuleId/market
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: billingInfoValidationRuleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The market associated to the billing info validation rule
      summary: Retrieve the market associated to the billing info validation rule
      tags:
      - has_one
      - markets
  /bing_geocoders:
    get:
      description: List all bing geocoders
      operationId: GET/bing_geocoders
      responses:
        "200":
          description: A list of bing geocoder objects
      summary: List all bing geocoders
      tags:
      - bing_geocoders
    post:
      description: Create a bing geocoder
      operationId: POST/bing_geocoders
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/bingGeocoderCreate'
        required: true
      responses:
        "201":
          description: The created bing geocoder object
      summary: Create a bing geocoder
      tags:
      - bing_geocoders
  /bing_geocoders/{bingGeocoderId}:
    delete:
      description: Delete a bing geocoder
      operationId: DELETE/bing_geocoders/bingGeocoderId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bingGeocoderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a bing geocoder
      tags:
      - bing_geocoders
    get:
      description: Retrieve a bing geocoder
      operationId: GET/bing_geocoders/bingGeocoderId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bingGeocoderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/bingGeocoder'
          description: The bing geocoder object
      summary: Retrieve a bing geocoder
      tags:
      - bing_geocoders
    patch:
      description: Update a bing geocoder
      operationId: PATCH/bing_geocoders/bingGeocoderId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bingGeocoderId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/bingGeocoderUpdate'
        required: true
      responses:
        "200":
          description: The updated bing geocoder object
      summary: Update a bing geocoder
      tags:
      - bing_geocoders
  /bing_geocoders/{bingGeocoderId}/addresses:
    get:
      description: Retrieve the addresses associated to the bing geocoder
      operationId: GET/bingGeocoderId/addresses
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bingGeocoderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The addresses associated to the bing geocoder
      summary: Retrieve the addresses associated to the bing geocoder
      tags:
      - has_many
      - addresses
  /bing_geocoders/{bingGeocoderId}/attachments:
    get:
      description: Retrieve the attachments associated to the bing geocoder
      operationId: GET/bingGeocoderId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bingGeocoderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the bing geocoder
      summary: Retrieve the attachments associated to the bing geocoder
      tags:
      - has_many
      - attachments
  /braintree_gateways:
    get:
      description: List all braintree gateways
      operationId: GET/braintree_gateways
      responses:
        "200":
          description: A list of braintree gateway objects
      summary: List all braintree gateways
      tags:
      - braintree_gateways
    post:
      description: Create a braintree gateway
      operationId: POST/braintree_gateways
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/braintreeGatewayCreate'
        required: true
      responses:
        "201":
          description: The created braintree gateway object
      summary: Create a braintree gateway
      tags:
      - braintree_gateways
  /braintree_gateways/{braintreeGatewayId}:
    delete:
      description: Delete a braintree gateway
      operationId: DELETE/braintree_gateways/braintreeGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreeGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a braintree gateway
      tags:
      - braintree_gateways
    get:
      description: Retrieve a braintree gateway
      operationId: GET/braintree_gateways/braintreeGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreeGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/braintreeGateway'
          description: The braintree gateway object
      summary: Retrieve a braintree gateway
      tags:
      - braintree_gateways
    patch:
      description: Update a braintree gateway
      operationId: PATCH/braintree_gateways/braintreeGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreeGatewayId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/braintreeGatewayUpdate'
        required: true
      responses:
        "200":
          description: The updated braintree gateway object
      summary: Update a braintree gateway
      tags:
      - braintree_gateways
  /braintree_gateways/{braintreeGatewayId}/payment_methods:
    get:
      description: Retrieve the payment methods associated to the braintree gateway
      operationId: GET/braintreeGatewayId/payment_methods
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreeGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The payment_methods associated to the braintree gateway
      summary: Retrieve the payment methods associated to the braintree gateway
      tags:
      - has_many
      - payment_methods
  /braintree_gateways/{braintreeGatewayId}/braintree_payments:
    get:
      description: Retrieve the braintree payments associated to the braintree gateway
      operationId: GET/braintreeGatewayId/braintree_payments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreeGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The braintree_payments associated to the braintree gateway
      summary: Retrieve the braintree payments associated to the braintree gateway
      tags:
      - has_many
      - braintree_payments
  /braintree_payments:
    get:
      description: List all braintree payments
      operationId: GET/braintree_payments
      responses:
        "200":
          description: A list of braintree payment objects
      summary: List all braintree payments
      tags:
      - braintree_payments
    post:
      description: Create a braintree payment
      operationId: POST/braintree_payments
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/braintreePaymentCreate'
        required: true
      responses:
        "201":
          description: The created braintree payment object
      summary: Create a braintree payment
      tags:
      - braintree_payments
  /braintree_payments/{braintreePaymentId}:
    delete:
      description: Delete a braintree payment
      operationId: DELETE/braintree_payments/braintreePaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreePaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a braintree payment
      tags:
      - braintree_payments
    get:
      description: Retrieve a braintree payment
      operationId: GET/braintree_payments/braintreePaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreePaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/braintreePayment'
          description: The braintree payment object
      summary: Retrieve a braintree payment
      tags:
      - braintree_payments
    patch:
      description: Update a braintree payment
      operationId: PATCH/braintree_payments/braintreePaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreePaymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/braintreePaymentUpdate'
        required: true
      responses:
        "200":
          description: The updated braintree payment object
      summary: Update a braintree payment
      tags:
      - braintree_payments
  /braintree_payments/{braintreePaymentId}/order:
    get:
      description: Retrieve the order associated to the braintree payment
      operationId: GET/braintreePaymentId/order
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreePaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The order associated to the braintree payment
      summary: Retrieve the order associated to the braintree payment
      tags:
      - has_one
      - orders
  /braintree_payments/{braintreePaymentId}/payment_gateway:
    get:
      description: Retrieve the payment gateway associated to the braintree payment
      operationId: GET/braintreePaymentId/payment_gateway
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: braintreePaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The payment_gateway associated to the braintree payment
      summary: Retrieve the payment gateway associated to the braintree payment
      tags:
      - has_one
      - payment_gateways
  /bundles:
    get:
      description: List all bundles
      operationId: GET/bundles
      responses:
        "200":
          description: A list of bundle objects
      summary: List all bundles
      tags:
      - bundles
    post:
      description: Create a bundle
      operationId: POST/bundles
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/bundleCreate'
        required: true
      responses:
        "201":
          description: The created bundle object
      summary: Create a bundle
      tags:
      - bundles
  /bundles/{bundleId}:
    delete:
      description: Delete a bundle
      operationId: DELETE/bundles/bundleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a bundle
      tags:
      - bundles
    get:
      description: Retrieve a bundle
      operationId: GET/bundles/bundleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/bundle'
          description: The bundle object
      summary: Retrieve a bundle
      tags:
      - bundles
    patch:
      description: Update a bundle
      operationId: PATCH/bundles/bundleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/bundleUpdate'
        required: true
      responses:
        "200":
          description: The updated bundle object
      summary: Update a bundle
      tags:
      - bundles
  /bundles/{bundleId}/market:
    get:
      description: Retrieve the market associated to the bundle
      operationId: GET/bundleId/market
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The market associated to the bundle
      summary: Retrieve the market associated to the bundle
      tags:
      - has_one
      - markets
  /bundles/{bundleId}/sku_list:
    get:
      description: Retrieve the sku list associated to the bundle
      operationId: GET/bundleId/sku_list
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The sku_list associated to the bundle
      summary: Retrieve the sku list associated to the bundle
      tags:
      - has_one
      - sku_lists
  /bundles/{bundleId}/skus:
    get:
      description: Retrieve the skus associated to the bundle
      operationId: GET/bundleId/skus
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The skus associated to the bundle
      summary: Retrieve the skus associated to the bundle
      tags:
      - has_many
      - skus
  /bundles/{bundleId}/attachments:
    get:
      description: Retrieve the attachments associated to the bundle
      operationId: GET/bundleId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: bundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the bundle
      summary: Retrieve the attachments associated to the bundle
      tags:
      - has_many
      - attachments
  /captures:
    get:
      description: List all captures
      operationId: GET/captures
      responses:
        "200":
          description: A list of capture objects
      summary: List all captures
      tags:
      - captures
  /captures/{captureId}:
    get:
      description: Retrieve a capture
      operationId: GET/captures/captureId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: captureId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/capture'
          description: The capture object
      summary: Retrieve a capture
      tags:
      - captures
    patch:
      description: Update a capture
      operationId: PATCH/captures/captureId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: captureId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/captureUpdate'
        required: true
      responses:
        "200":
          description: The updated capture object
      summary: Update a capture
      tags:
      - captures
  /captures/{captureId}/order:
    get:
      description: Retrieve the order associated to the capture
      operationId: GET/captureId/order
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: captureId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The order associated to the capture
      summary: Retrieve the order associated to the capture
      tags:
      - has_one
      - orders
  /captures/{captureId}/reference_authorization:
    get:
      description: Retrieve the reference authorization associated to the capture
      operationId: GET/captureId/reference_authorization
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: captureId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The reference_authorization associated to the capture
      summary: Retrieve the reference authorization associated to the capture
      tags:
      - has_one
      - authorizations
  /captures/{captureId}/refunds:
    get:
      description: Retrieve the refunds associated to the capture
      operationId: GET/captureId/refunds
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: captureId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The refunds associated to the capture
      summary: Retrieve the refunds associated to the capture
      tags:
      - has_many
      - refunds
  /carrier_accounts:
    get:
      description: List all carrier accounts
      operationId: GET/carrier_accounts
      responses:
        "200":
          description: A list of carrier account objects
      summary: List all carrier accounts
      tags:
      - carrier_accounts
  /carrier_accounts/{carrierAccountId}:
    get:
      description: Retrieve a carrier account
      operationId: GET/carrier_accounts/carrierAccountId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: carrierAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/carrierAccount'
          description: The carrier account object
      summary: Retrieve a carrier account
      tags:
      - carrier_accounts
  /carrier_accounts/{carrierAccountId}/market:
    get:
      description: Retrieve the market associated to the carrier account
      operationId: GET/carrierAccountId/market
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: carrierAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The market associated to the carrier account
      summary: Retrieve the market associated to the carrier account
      tags:
      - has_one
      - markets
  /carrier_accounts/{carrierAccountId}/attachments:
    get:
      description: Retrieve the attachments associated to the carrier account
      operationId: GET/carrierAccountId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: carrierAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the carrier account
      summary: Retrieve the attachments associated to the carrier account
      tags:
      - has_many
      - attachments
  /checkout_com_gateways:
    get:
      description: List all checkout.com gateways
      operationId: GET/checkout_com_gateways
      responses:
        "200":
          description: A list of checkout.com gateway objects
      summary: List all checkout.com gateways
      tags:
      - checkout_com_gateways
    post:
      description: Create a checkout.com gateway
      operationId: POST/checkout_com_gateways
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/checkoutComGatewayCreate'
        required: true
      responses:
        "201":
          description: The created checkout.com gateway object
      summary: Create a checkout.com gateway
      tags:
      - checkout_com_gateways
  /checkout_com_gateways/{checkoutComGatewayId}:
    delete:
      description: Delete a checkout.com gateway
      operationId: DELETE/checkout_com_gateways/checkoutComGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a checkout.com gateway
      tags:
      - checkout_com_gateways
    get:
      description: Retrieve a checkout.com gateway
      operationId: GET/checkout_com_gateways/checkoutComGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/checkoutComGateway'
          description: The checkout.com gateway object
      summary: Retrieve a checkout.com gateway
      tags:
      - checkout_com_gateways
    patch:
      description: Update a checkout.com gateway
      operationId: PATCH/checkout_com_gateways/checkoutComGatewayId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComGatewayId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/checkoutComGatewayUpdate'
        required: true
      responses:
        "200":
          description: The updated checkout.com gateway object
      summary: Update a checkout.com gateway
      tags:
      - checkout_com_gateways
  /checkout_com_gateways/{checkoutComGatewayId}/payment_methods:
    get:
      description: Retrieve the payment methods associated to the checkout.com gateway
      operationId: GET/checkoutComGatewayId/payment_methods
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The payment_methods associated to the checkout.com gateway
      summary: Retrieve the payment methods associated to the checkout.com gateway
      tags:
      - has_many
      - payment_methods
  /checkout_com_gateways/{checkoutComGatewayId}/checkout_com_payments:
    get:
      description: Retrieve the checkout com payments associated to the checkout.com
        gateway
      operationId: GET/checkoutComGatewayId/checkout_com_payments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComGatewayId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The checkout_com_payments associated to the checkout.com gateway
      summary: Retrieve the checkout com payments associated to the checkout.com gateway
      tags:
      - has_many
      - checkout_com_payments
  /checkout_com_payments:
    get:
      description: List all checkout.com payments
      operationId: GET/checkout_com_payments
      responses:
        "200":
          description: A list of checkout.com payment objects
      summary: List all checkout.com payments
      tags:
      - checkout_com_payments
    post:
      description: Create a checkout.com payment
      operationId: POST/checkout_com_payments
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/checkoutComPaymentCreate'
        required: true
      responses:
        "201":
          description: The created checkout.com payment object
      summary: Create a checkout.com payment
      tags:
      - checkout_com_payments
  /checkout_com_payments/{checkoutComPaymentId}:
    delete:
      description: Delete a checkout.com payment
      operationId: DELETE/checkout_com_payments/checkoutComPaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a checkout.com payment
      tags:
      - checkout_com_payments
    get:
      description: Retrieve a checkout.com payment
      operationId: GET/checkout_com_payments/checkoutComPaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/checkoutComPayment'
          description: The checkout.com payment object
      summary: Retrieve a checkout.com payment
      tags:
      - checkout_com_payments
    patch:
      description: Update a checkout.com payment
      operationId: PATCH/checkout_com_payments/checkoutComPaymentId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComPaymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/checkoutComPaymentUpdate'
        required: true
      responses:
        "200":
          description: The updated checkout.com payment object
      summary: Update a checkout.com payment
      tags:
      - checkout_com_payments
  /checkout_com_payments/{checkoutComPaymentId}/order:
    get:
      description: Retrieve the order associated to the checkout.com payment
      operationId: GET/checkoutComPaymentId/order
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The order associated to the checkout.com payment
      summary: Retrieve the order associated to the checkout.com payment
      tags:
      - has_one
      - orders
  /checkout_com_payments/{checkoutComPaymentId}/payment_gateway:
    get:
      description: Retrieve the payment gateway associated to the checkout.com payment
      operationId: GET/checkoutComPaymentId/payment_gateway
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: checkoutComPaymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The payment_gateway associated to the checkout.com payment
      summary: Retrieve the payment gateway associated to the checkout.com payment
      tags:
      - has_one
      - payment_gateways
  /coupon_codes_promotion_rules:
    get:
      description: List all coupon codes promotion rules
      operationId: GET/coupon_codes_promotion_rules
      responses:
        "200":
          description: A list of coupon codes promotion rule objects
      summary: List all coupon codes promotion rules
      tags:
      - coupon_codes_promotion_rules
    post:
      description: Create a coupon codes promotion rule
      operationId: POST/coupon_codes_promotion_rules
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/couponCodesPromotionRuleCreate'
        required: true
      responses:
        "201":
          description: The created coupon codes promotion rule object
      summary: Create a coupon codes promotion rule
      tags:
      - coupon_codes_promotion_rules
  /coupon_codes_promotion_rules/{couponCodesPromotionRuleId}:
    delete:
      description: Delete a coupon codes promotion rule
      operationId: DELETE/coupon_codes_promotion_rules/couponCodesPromotionRuleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponCodesPromotionRuleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a coupon codes promotion rule
      tags:
      - coupon_codes_promotion_rules
    get:
      description: Retrieve a coupon codes promotion rule
      operationId: GET/coupon_codes_promotion_rules/couponCodesPromotionRuleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponCodesPromotionRuleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/couponCodesPromotionRule'
          description: The coupon codes promotion rule object
      summary: Retrieve a coupon codes promotion rule
      tags:
      - coupon_codes_promotion_rules
    patch:
      description: Update a coupon codes promotion rule
      operationId: PATCH/coupon_codes_promotion_rules/couponCodesPromotionRuleId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponCodesPromotionRuleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/couponCodesPromotionRuleUpdate'
        required: true
      responses:
        "200":
          description: The updated coupon codes promotion rule object
      summary: Update a coupon codes promotion rule
      tags:
      - coupon_codes_promotion_rules
  /coupon_codes_promotion_rules/{couponCodesPromotionRuleId}/coupons:
    get:
      description: Retrieve the coupons associated to the coupon codes promotion rule
      operationId: GET/couponCodesPromotionRuleId/coupons
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponCodesPromotionRuleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The coupons associated to the coupon codes promotion rule
      summary: Retrieve the coupons associated to the coupon codes promotion rule
      tags:
      - has_many
      - coupons
  /coupon_recipients:
    get:
      description: List all coupon recipients
      operationId: GET/coupon_recipients
      responses:
        "200":
          description: A list of coupon recipient objects
      summary: List all coupon recipients
      tags:
      - coupon_recipients
    post:
      description: Create a coupon recipient
      operationId: POST/coupon_recipients
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/couponRecipientCreate'
        required: true
      responses:
        "201":
          description: The created coupon recipient object
      summary: Create a coupon recipient
      tags:
      - coupon_recipients
  /coupon_recipients/{couponRecipientId}:
    delete:
      description: Delete a coupon recipient
      operationId: DELETE/coupon_recipients/couponRecipientId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponRecipientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a coupon recipient
      tags:
      - coupon_recipients
    get:
      description: Retrieve a coupon recipient
      operationId: GET/coupon_recipients/couponRecipientId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponRecipientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/couponRecipient'
          description: The coupon recipient object
      summary: Retrieve a coupon recipient
      tags:
      - coupon_recipients
    patch:
      description: Update a coupon recipient
      operationId: PATCH/coupon_recipients/couponRecipientId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponRecipientId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/couponRecipientUpdate'
        required: true
      responses:
        "200":
          description: The updated coupon recipient object
      summary: Update a coupon recipient
      tags:
      - coupon_recipients
  /coupon_recipients/{couponRecipientId}/customer:
    get:
      description: Retrieve the customer associated to the coupon recipient
      operationId: GET/couponRecipientId/customer
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponRecipientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer associated to the coupon recipient
      summary: Retrieve the customer associated to the coupon recipient
      tags:
      - has_one
      - customers
  /coupon_recipients/{couponRecipientId}/attachments:
    get:
      description: Retrieve the attachments associated to the coupon recipient
      operationId: GET/couponRecipientId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponRecipientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the coupon recipient
      summary: Retrieve the attachments associated to the coupon recipient
      tags:
      - has_many
      - attachments
  /coupons:
    get:
      description: List all coupons
      operationId: GET/coupons
      responses:
        "200":
          description: A list of coupon objects
      summary: List all coupons
      tags:
      - coupons
    post:
      description: Create a coupon
      operationId: POST/coupons
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/couponCreate'
        required: true
      responses:
        "201":
          description: The created coupon object
      summary: Create a coupon
      tags:
      - coupons
  /coupons/{couponId}:
    delete:
      description: Delete a coupon
      operationId: DELETE/coupons/couponId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a coupon
      tags:
      - coupons
    get:
      description: Retrieve a coupon
      operationId: GET/coupons/couponId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/coupon'
          description: The coupon object
      summary: Retrieve a coupon
      tags:
      - coupons
    patch:
      description: Update a coupon
      operationId: PATCH/coupons/couponId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/couponUpdate'
        required: true
      responses:
        "200":
          description: The updated coupon object
      summary: Update a coupon
      tags:
      - coupons
  /coupons/{couponId}/promotion_rule:
    get:
      description: Retrieve the promotion rule associated to the coupon
      operationId: GET/couponId/promotion_rule
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: couponId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The promotion_rule associated to the coupon
      summary: Retrieve the promotion rule associated to the coupon
      tags:
      - has_one
      - coupon_codes_promotion_rules
  /customer_addresses:
    get:
      description: List all customer addresses
      operationId: GET/customer_addresses
      responses:
        "200":
          description: A list of customer address objects
      summary: List all customer addresses
      tags:
      - customer_addresses
    post:
      description: Create a customer address
      operationId: POST/customer_addresses
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerAddressCreate'
        required: true
      responses:
        "201":
          description: The created customer address object
      summary: Create a customer address
      tags:
      - customer_addresses
  /customer_addresses/{customerAddressId}:
    delete:
      description: Delete a customer address
      operationId: DELETE/customer_addresses/customerAddressId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerAddressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a customer address
      tags:
      - customer_addresses
    get:
      description: Retrieve a customer address
      operationId: GET/customer_addresses/customerAddressId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerAddressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customerAddress'
          description: The customer address object
      summary: Retrieve a customer address
      tags:
      - customer_addresses
    patch:
      description: Update a customer address
      operationId: PATCH/customer_addresses/customerAddressId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerAddressId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerAddressUpdate'
        required: true
      responses:
        "200":
          description: The updated customer address object
      summary: Update a customer address
      tags:
      - customer_addresses
  /customer_addresses/{customerAddressId}/customer:
    get:
      description: Retrieve the customer associated to the customer address
      operationId: GET/customerAddressId/customer
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerAddressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer associated to the customer address
      summary: Retrieve the customer associated to the customer address
      tags:
      - has_one
      - customers
  /customer_addresses/{customerAddressId}/address:
    get:
      description: Retrieve the address associated to the customer address
      operationId: GET/customerAddressId/address
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerAddressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The address associated to the customer address
      summary: Retrieve the address associated to the customer address
      tags:
      - has_one
      - addresses
  /customer_groups:
    get:
      description: List all customer groups
      operationId: GET/customer_groups
      responses:
        "200":
          description: A list of customer group objects
      summary: List all customer groups
      tags:
      - customer_groups
    post:
      description: Create a customer group
      operationId: POST/customer_groups
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerGroupCreate'
        required: true
      responses:
        "201":
          description: The created customer group object
      summary: Create a customer group
      tags:
      - customer_groups
  /customer_groups/{customerGroupId}:
    delete:
      description: Delete a customer group
      operationId: DELETE/customer_groups/customerGroupId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a customer group
      tags:
      - customer_groups
    get:
      description: Retrieve a customer group
      operationId: GET/customer_groups/customerGroupId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customerGroup'
          description: The customer group object
      summary: Retrieve a customer group
      tags:
      - customer_groups
    patch:
      description: Update a customer group
      operationId: PATCH/customer_groups/customerGroupId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerGroupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerGroupUpdate'
        required: true
      responses:
        "200":
          description: The updated customer group object
      summary: Update a customer group
      tags:
      - customer_groups
  /customer_groups/{customerGroupId}/customers:
    get:
      description: Retrieve the customers associated to the customer group
      operationId: GET/customerGroupId/customers
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customers associated to the customer group
      summary: Retrieve the customers associated to the customer group
      tags:
      - has_many
      - customers
  /customer_groups/{customerGroupId}/markets:
    get:
      description: Retrieve the markets associated to the customer group
      operationId: GET/customerGroupId/markets
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The markets associated to the customer group
      summary: Retrieve the markets associated to the customer group
      tags:
      - has_many
      - markets
  /customer_groups/{customerGroupId}/attachments:
    get:
      description: Retrieve the attachments associated to the customer group
      operationId: GET/customerGroupId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerGroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the customer group
      summary: Retrieve the attachments associated to the customer group
      tags:
      - has_many
      - attachments
  /customer_password_resets:
    get:
      description: List all customer password resets
      operationId: GET/customer_password_resets
      responses:
        "200":
          description: A list of customer password reset objects
      summary: List all customer password resets
      tags:
      - customer_password_resets
    post:
      description: Create a customer password reset
      operationId: POST/customer_password_resets
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerPasswordResetCreate'
        required: true
      responses:
        "201":
          description: The created customer password reset object
      summary: Create a customer password reset
      tags:
      - customer_password_resets
  /customer_password_resets/{customerPasswordResetId}:
    delete:
      description: Delete a customer password reset
      operationId: DELETE/customer_password_resets/customerPasswordResetId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPasswordResetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a customer password reset
      tags:
      - customer_password_resets
    get:
      description: Retrieve a customer password reset
      operationId: GET/customer_password_resets/customerPasswordResetId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPasswordResetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customerPasswordReset'
          description: The customer password reset object
      summary: Retrieve a customer password reset
      tags:
      - customer_password_resets
    patch:
      description: Update a customer password reset
      operationId: PATCH/customer_password_resets/customerPasswordResetId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPasswordResetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerPasswordResetUpdate'
        required: true
      responses:
        "200":
          description: The updated customer password reset object
      summary: Update a customer password reset
      tags:
      - customer_password_resets
  /customer_password_resets/{customerPasswordResetId}/customer:
    get:
      description: Retrieve the customer associated to the customer password reset
      operationId: GET/customerPasswordResetId/customer
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPasswordResetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer associated to the customer password reset
      summary: Retrieve the customer associated to the customer password reset
      tags:
      - has_one
      - customers
  /customer_payment_sources:
    get:
      description: List all customer payment sources
      operationId: GET/customer_payment_sources
      responses:
        "200":
          description: A list of customer payment source objects
      summary: List all customer payment sources
      tags:
      - customer_payment_sources
    post:
      description: Create a customer payment source
      operationId: POST/customer_payment_sources
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerPaymentSourceCreate'
        required: true
      responses:
        "201":
          description: The created customer payment source object
      summary: Create a customer payment source
      tags:
      - customer_payment_sources
  /customer_payment_sources/{customerPaymentSourceId}:
    delete:
      description: Delete a customer payment source
      operationId: DELETE/customer_payment_sources/customerPaymentSourceId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPaymentSourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a customer payment source
      tags:
      - customer_payment_sources
    get:
      description: Retrieve a customer payment source
      operationId: GET/customer_payment_sources/customerPaymentSourceId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPaymentSourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customerPaymentSource'
          description: The customer payment source object
      summary: Retrieve a customer payment source
      tags:
      - customer_payment_sources
    patch:
      description: Update a customer payment source
      operationId: PATCH/customer_payment_sources/customerPaymentSourceId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPaymentSourceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerPaymentSourceUpdate'
        required: true
      responses:
        "200":
          description: The updated customer payment source object
      summary: Update a customer payment source
      tags:
      - customer_payment_sources
  /customer_payment_sources/{customerPaymentSourceId}/customer:
    get:
      description: Retrieve the customer associated to the customer payment source
      operationId: GET/customerPaymentSourceId/customer
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerPaymentSourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer associated to the customer payment source
      summary: Retrieve the customer associated to the customer payment source
      tags:
      - has_one
      - customers
  /customer_subscriptions:
    get:
      description: List all customer subscriptions
      operationId: GET/customer_subscriptions
      responses:
        "200":
          description: A list of customer subscription objects
      summary: List all customer subscriptions
      tags:
      - customer_subscriptions
    post:
      description: Create a customer subscription
      operationId: POST/customer_subscriptions
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerSubscriptionCreate'
        required: true
      responses:
        "201":
          description: The created customer subscription object
      summary: Create a customer subscription
      tags:
      - customer_subscriptions
  /customer_subscriptions/{customerSubscriptionId}:
    delete:
      description: Delete a customer subscription
      operationId: DELETE/customer_subscriptions/customerSubscriptionId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerSubscriptionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a customer subscription
      tags:
      - customer_subscriptions
    get:
      description: Retrieve a customer subscription
      operationId: GET/customer_subscriptions/customerSubscriptionId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerSubscriptionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customerSubscription'
          description: The customer subscription object
      summary: Retrieve a customer subscription
      tags:
      - customer_subscriptions
    patch:
      description: Update a customer subscription
      operationId: PATCH/customer_subscriptions/customerSubscriptionId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerSubscriptionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerSubscriptionUpdate'
        required: true
      responses:
        "200":
          description: The updated customer subscription object
      summary: Update a customer subscription
      tags:
      - customer_subscriptions
  /customer_subscriptions/{customerSubscriptionId}/customer:
    get:
      description: Retrieve the customer associated to the customer subscription
      operationId: GET/customerSubscriptionId/customer
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerSubscriptionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer associated to the customer subscription
      summary: Retrieve the customer associated to the customer subscription
      tags:
      - has_one
      - customers
  /customers:
    get:
      description: List all customers
      operationId: GET/customers
      responses:
        "200":
          description: A list of customer objects
      summary: List all customers
      tags:
      - customers
    post:
      description: Create a customer
      operationId: POST/customers
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerCreate'
        required: true
      responses:
        "201":
          description: The created customer object
      summary: Create a customer
      tags:
      - customers
  /customers/{customerId}:
    delete:
      description: Delete a customer
      operationId: DELETE/customers/customerId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a customer
      tags:
      - customers
    get:
      description: Retrieve a customer
      operationId: GET/customers/customerId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/customer'
          description: The customer object
      summary: Retrieve a customer
      tags:
      - customers
    patch:
      description: Update a customer
      operationId: PATCH/customers/customerId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/customerUpdate'
        required: true
      responses:
        "200":
          description: The updated customer object
      summary: Update a customer
      tags:
      - customers
  /customers/{customerId}/customer_group:
    get:
      description: Retrieve the customer group associated to the customer
      operationId: GET/customerId/customer_group
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer_group associated to the customer
      summary: Retrieve the customer group associated to the customer
      tags:
      - has_one
      - customer_groups
  /customers/{customerId}/customer_addresses:
    get:
      description: Retrieve the customer addresses associated to the customer
      operationId: GET/customerId/customer_addresses
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer_addresses associated to the customer
      summary: Retrieve the customer addresses associated to the customer
      tags:
      - has_many
      - customer_addresses
  /customers/{customerId}/customer_payment_sources:
    get:
      description: Retrieve the customer payment sources associated to the customer
      operationId: GET/customerId/customer_payment_sources
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer_payment_sources associated to the customer
      summary: Retrieve the customer payment sources associated to the customer
      tags:
      - has_many
      - customer_payment_sources
  /customers/{customerId}/customer_subscriptions:
    get:
      description: Retrieve the customer subscriptions associated to the customer
      operationId: GET/customerId/customer_subscriptions
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The customer_subscriptions associated to the customer
      summary: Retrieve the customer subscriptions associated to the customer
      tags:
      - has_many
      - customer_subscriptions
  /customers/{customerId}/orders:
    get:
      description: Retrieve the orders associated to the customer
      operationId: GET/customerId/orders
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The orders associated to the customer
      summary: Retrieve the orders associated to the customer
      tags:
      - has_many
      - orders
  /customers/{customerId}/order_subscriptions:
    get:
      description: Retrieve the order subscriptions associated to the customer
      operationId: GET/customerId/order_subscriptions
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The order_subscriptions associated to the customer
      summary: Retrieve the order subscriptions associated to the customer
      tags:
      - has_many
      - order_subscriptions
  /customers/{customerId}/returns:
    get:
      description: Retrieve the returns associated to the customer
      operationId: GET/customerId/returns
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The returns associated to the customer
      summary: Retrieve the returns associated to the customer
      tags:
      - has_many
      - returns
  /customers/{customerId}/attachments:
    get:
      description: Retrieve the attachments associated to the customer
      operationId: GET/customerId/attachments
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The attachments associated to the customer
      summary: Retrieve the attachments associated to the customer
      tags:
      - has_many
      - attachments
  /delivery_lead_times:
    get:
      description: List all delivery lead times
      operationId: GET/delivery_lead_times
      responses:
        "200":
          description: A list of delivery lead time objects
      summary: List all delivery lead times
      tags:
      - delivery_lead_times
    post:
      description: Create a delivery lead time
      operationId: POST/delivery_lead_times
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/deliveryLeadTimeCreate'
        required: true
      responses:
        "201":
          description: The created delivery lead time object
      summary: Create a delivery lead time
      tags:
      - delivery_lead_times
  /delivery_lead_times/{deliveryLeadTimeId}:
    delete:
      description: Delete a delivery lead time
      operationId: DELETE/delivery_lead_times/deliveryLeadTimeId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: deliveryLeadTimeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      summary: Delete a delivery lead time
      tags:
      - delivery_lead_times
    get:
      description: Retrieve a delivery lead time
      operationId: GET/delivery_lead_times/deliveryLeadTimeId
      parameters:
      - description: The resource's id
        explode: false
        in: path
        name: deliveryLeadTimeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/deliveryLeadTime'
          description: The delivery lead time object
      summary: Retrieve a delivery lead time
      tags:
      - delivery_lead_times
    patch:
      description: Update a delivery lead time
      operationId: PATCH/delivery_lead_times/deliveryLeadTimeId
      parameters:
[...]
